@font-face {
  font-family: "LAB디지털";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  position: relative;
}

#clock {
  position: absolute;
  top: 10vh;
  left: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
  width: 250px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "LAB디지털";
  font-size: 60px;
  font-style: italic;
  /* color: rgba(196, 255, 107, 1); */
  border-radius: 10px;
  border: 2px solid rgb(84, 167, 124);
  box-shadow: 0px 0px 15px rgb(84, 167, 124),
    inset 0px 0px 15px rgb(84, 167, 124);
  margin-bottom: 10px;
  /* transform: translate(20vw, 15vh); */
}

#clock {
  /* font-weight: bolder; */
  background-image: linear-gradient(
    to right,
    rgb(72, 213, 183),
    /* rgba(215, 255, 246, 0.7), */ rgb(72, 213, 183)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#clock {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 3px #fff;
}

#login-form {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  background-color: black;
  font-family: "LAB디지털";
  font-size: 60px;
  border: 1px double white;
}

#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  background-color: black;
  font-family: "LAB디지털";
  font-size: 60px;
  border: 1px double white;
}

#todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  background-color: black;
  font-family: "LAB디지털";
  font-size: 20px;
  border: 1px double white;
}
.hidden {
  display: none;
}
#greeting {
  position: absolute;
  top: 25vh;
  left: 20vw;
  font-family: "LAB디지털";
  font-size: 80px;
  color: #fff;
  text-shadow: 0 0 10px #fff;
}
